{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}
{% load permissions %}
{% load i18n %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "styles/loading.css" %}">
    <link rel="stylesheet" href="{% static "styles/dialogs.sass" %}" type="text/x-sass">
    <link rel="stylesheet" href="{% static "styles/document_single.sass" %}" type="text/x-sass">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vendors/jQuery-contextMenu/dist/jquery.contextMenu.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'vendors/js-cookie/src/js.cookie.js' %}" charset="utf-8"></script>
    <script src="{% static 'vendors/jquery-json/dist/jquery.json.min.js' %}" charset="utf-8"></script>

    <script src="{% static 'js/forms/helpers.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/dialogs.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/documents_browser/single.js' %}" charset="utf-8"></script>
{% endblock %}

{% block dialogs %}
    {% include "dialogs/progress_dialog.html" %}
    {% include "dialogs/yes_no_dialog.html" %}
    {% include "dialogs/errors_dialog.html" %}
    {% include "dialogs/success_dialog.html" %}
{% endblock %}

{% block content %}
    <a href="{{ up_action_url }}{% if archive %}!archive/{% endif %}" class="go-back">
        <i class="fa fa-long-arrow-up"></i>
        {% trans "Go to parent folder" %}
    </a>

    <h3>{% trans "Document details" %}:
        <small>{% include "documents_browser/document_breadcrumbs.html" %}</small>
    </h3>

    {% user_has_permission_for_instance document "documents_can_take_document_for_revision" as documents_can_take_document_for_revision %}
    {% user_has_permission_for_instance document "activity_can_read" as activity_can_read %}
    {% user_has_permission_for_instance document "documents_can_review" as documents_can_review %}
    {% user_has_permission_for_instance document "documents_can_edit" as documents_can_edit %}

    <div class="x_panel">
        <div class="x_title">
            <h2>{{ document.name }}</h2>
            {% if user_is_follow %}
                <a href="#" id="toggle-follow" title="{% trans "Do not follow" %}">
                    <i class="fa fa-eye-slash"></i>
                </a>
            {% else %}
                <a href="#" id="toggle-follow" title="{% trans "Follow" %} ">
                    <i class="fa fa-eye"></i>
                </a>
            {% endif %}
            <div class="clearfix"></div>
        </div>
        <div class="document-content xcontent">
            <div class="col-md-9 col-sm-9 col-xs-12">
                {% if documents_can_take_document_for_revision or documents_can_review %}
                    {% if document.is_under_edition and remarks.count > 0 %}
                        <h4>{% trans "Remarks" %}</h4>
                        {% include "documents_browser/single/remarks.html" %}
                    {% endif %}
                {% endif %}

                {% if activity_can_read %}
                    <h4>{% trans "Activity" %}</h4>
                    {% include "activity_items.html" with show_revert_button=True %}
                {% endif %}
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <section class="panel">
                    <div class="x_title">
                        <h2>{% trans "Details" %}</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        {% include "documents_browser/single/details.html" %}
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
