{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "styles/loading.css" %}">
    <link rel="stylesheet" href="{% static "styles/dialogs.sass" %}" type="text/x-sass">
    <link rel="stylesheet" href="{% static "styles/issues_single.sass" %}" type="text/x-sass">
    <link rel="stylesheet" href="{% static "styles/document_single.sass" %}" type="text/x-sass">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vendors/js-cookie/src/js.cookie.js' %}" charset="utf-8"></script>
    <script src="{% static 'vendors/jquery-json/dist/jquery.json.min.js' %}" charset="utf-8"></script>

    <script src="{% static 'js/forms/helpers.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/dialogs.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/issues/single.js' %}" charset="utf-8"></script>
{% endblock %}

{% block dialogs %}
    {% include "dialogs/progress_dialog.html" %}
    {% include "dialogs/yes_no_dialog.html" %}
    {% include "dialogs/errors_dialog.html" %}
    {% include "dialogs/success_dialog.html" %}
{% endblock %}

{% block content %}
    <a href="{% url "issues:index" %}" class="go-back">
        <i class="fa fa-long-arrow-up"></i>
        {% trans "Go to issues" %}
    </a>

    <h3>{% trans "Issue details" %}:
        <small>{{ issue.name }}</small>
    </h3>

    <div class="x_panel">
        <div class="x_title">
            <h2>{{ issue.owner.get_full_name }} | {{ issue.name }}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="document-content xcontent">
            <div class="col-md-12 col-sm-12 col-xs-12">
                {% for issue_item in issue_items %}
                    <div class="issue-item{{ issue_item.css_class }}">
                        <h2>
                            {% for label in issue_item.labels.all %}
                                <span class="label" style="background: {{ label.hex_color }};">
                                    {{ label.code }}
                                </span>
                            {% endfor %}

                            <span class="title">{{ issue_item.name }}</span>

                            <span class="status">
                                Статус: {{ issue_item.status_name }}
                                {% if issue_item.is_paused %}
                                    (Приостановлен)
                                {% endif %}
                            </span>
                        </h2>

                        {{ issue_item.content|linebreaks }}

                        {% if issue_item.users.count > 0 %}
                            <h5>Совместно с</h5>

                            <ul>
                                {% if user != issue.owner %}
                                    <li><a href="{{ user.permalink }}">{{ user }}</a></li>
                                {% endif %}

                                {% for cooperator in issue_item.users.all %}
                                    {% if cooperator != issue.owner %}
                                        <li><a href="{{ cooperator.permalink }}">{{ cooperator }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <ul class="issue-item-action-menu">
                            {% if displays_start_button and issue_item.is_approved and not issue_item.is_finished and not issue_item.is_confirmed %}
                                {% if not issue_item.is_in_progress or issue_item.is_paused %}
                                    <li>
                                        <a
                                            href=""
                                            class="start-issues-item"
                                            data-id="{{ issue_item.id }}"
                                        >
                                            Старт
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}

                            {% if displays_pause_button and issue_item.is_in_progress and not issue_item.is_paused %}
                                <li>
                                    <a
                                        href=""
                                        class="pause-issues-item"
                                        data-id="{{ issue_item.id }}"
                                    >
                                        Пауза
                                    </a>
                                </li>
                            {% endif %}

                            {% if displays_finish_button and issue_item.is_in_progress %}
                                <li>
                                    <a
                                        href=""
                                        class="finish-issues-item"
                                        data-id="{{ issue_item.id }}"
                                    >
                                        Завершить
                                    </a>
                                </li>
                            {% endif %}

                            {% if displays_approve_button and issue_item.is_open and not issue_item.is_approved %}
                                <li>
                                    <a
                                        href=""
                                        data-id="{{ issue_item.id }}"
                                        class="approve-issues-item"
                                    >
                                        Одобрить
                                    </a>
                                </li>
                            {% endif %}

                            {% if displays_confirm_button and issue_item.is_finished %}
                                <li>
                                    <a
                                        href="#"
                                        data-id="{{ issue_item.id }}"
                                        class="confirm-issues-item"
                                    >
                                        Утвердить
                                    </a>
                                </li>
                            {% endif %}

                            {% if displays_reject_button and not issue_item.is_rejected and not issue_item.is_confirmed %}
                                <li>
                                    <a
                                        href="{% url "issues:write-remark" issue_id=issue.id issue_item_id=issue_item.id %}?reject"
                                        class="decline-issues-item"
                                        data-id="{{ issue_item.id }}"
                                    >
                                        Отклонить
                                    </a>
                                </li>
                            {% endif %}

                            {% if issue_item.displays_review_button %}
                                <li>
                                    <a
                                        href="{% url "issues:write-remark" issue_id=issue.id issue_item_id=issue_item.id %}"
                                        class="review-issues-item"
                                    >
                                        Написать комментарий
                                    </a>
                                </li>
                            {% endif %}
                        </ul>

                        {% if issue_item.remark_set.count > 0 %}
                            <br>
                            <h5>Комментарии</h5>
                            <hr>
                            {% include "issues/single/remarks.html" with remarks=issue_item.remark_set.all %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
