{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "styles/loading.css" %}">
    <link rel="stylesheet" href="{% static "styles/dialogs.sass" %}" type="text/x-sass">
    <link rel="stylesheet" href="{% static "styles/issues_single.sass" %}" type="text/x-sass">
    <link rel="stylesheet" href="{% static "styles/document_single.sass" %}" type="text/x-sass">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vendors/js-cookie/src/js.cookie.js' %}" charset="utf-8"></script>
    <script src="{% static 'vendors/jquery-json/dist/jquery.json.min.js' %}" charset="utf-8"></script>

    <script src="{% static 'js/forms/helpers.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/dialogs.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/issues/single.js' %}" charset="utf-8"></script>
{% endblock %}

{% block dialogs %}
    {% include "dialogs/progress_dialog.html" %}
    {% include "dialogs/yes_no_dialog.html" %}
    {% include "dialogs/errors_dialog.html" %}
    {% include "dialogs/success_dialog.html" %}
{% endblock %}

{% block content %}
    <a href="{% url "issues:index" %}" class="go-back">
        <i class="fa fa-long-arrow-up"></i>
        {% trans "Go to issues" %}
    </a>

    <h3>{% trans "Issue details" %}:
        <small>{{ issue.name }}</small>
    </h3>

    <div class="x_panel">
        <div class="x_title">
            <h2>{{ issue.owner.get_full_name }} | {{ issue.name }}</h2>
{#            TODO: uncomments       #}
{#            {% if user_is_follow %}#}
{#                <a href="#" id="toggle-follow" title="{% trans "Do not follow" %}">#}
{#                    <i class="fa fa-eye-slash"></i>#}
{#                </a>#}
{#            {% else %}#}
{#                <a href="#" id="toggle-follow" title="{% trans "Follow" %} ">#}
{#                    <i class="fa fa-eye"></i>#}
{#                </a>#}
{#            {% endif %}#}
            <div class="clearfix"></div>
        </div>
        <div class="document-content xcontent">
            <div class="col-md-12 col-sm-12 col-xs-12">
                {% for issue_item in issue_items %}
                    <div class="issue-item{{ issue_item.css_class }}">
                        <h2>
                            {% for label in issue_item.labels.all %}
                                <span class="label" style="background: {{ label.hex_color }};">
                                    {{ label.code }}
                                </span>
                            {% endfor %}

                            <span class="title">{{ issue_item.name }}</span>

                            <span class="status">Статус: {{ issue_item.status_name }}</span>
                        </h2>

                        {{ issue_item.content|linebreaks }}

                        {% if issue_item.users.count > 0 %}
                            <h5>Совместно с</h5>

                            <ul>
                                {% if user != issue.owner %}
                                    <li><a href="{{ user.permalink }}">{{ user }}</a></li>
                                {% endif %}

                                {% for cooperator in issue_item.users.all %}
                                    {% if cooperator != issue.owner %}
                                        <li><a href="{{ cooperator.permalink }}">{{ cooperator }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <ul class="issue-item-action-menu">
                            {% if displays_start_button and issue_item.is_open %}
                                <li>
                                    <a
                                        href=""
                                        class="start-issues-item"
                                        data-id="{{ issue_item.id }}"
                                    >
                                        Старт
                                    </a>
                                </li>
                            {% endif %}

                            {% if displays_pause_button and issue_item.is_in_progress %}
                                <li>
                                    <a
                                        href=""
                                        class="pause-issues-item"
                                        data-id="{{ issue_item.id }}"
                                    >
                                        Пауза
                                    </a>
                                </li>
                            {% endif %}

                            {% if displays_finish_button and issue_item.is_in_progress %}
                                <li>
                                    <a
                                        href=""
                                        class="finish-issues-item"
                                        data-id="{{ issue_item.id }}"
                                    >
                                        Завершить
                                    </a>
                                </li>
                            {% endif %}

                            {% if displays_approve_button and issue_item.is_finished %}
                                <li>
                                    <a
                                        href=""
                                        data-id="{{ issue_item.id }}"
                                        class="approve-issues-item"
                                    >
                                        Одобрить
                                    </a>
                                </li>
                            {% endif %}

                            {% if displays_confirm_button and issue_item.is_finished %}
                                <li>
                                    <a
                                        href="#"
                                        data-id="{{ issue_item.id }}"
                                        class="confirm-issues-item"
                                    >
                                        Утвердить
                                    </a>
                                </li>
                            {% endif %}

                            {% if displays_reject_button %}
                                <li>
                                    <a
                                        href="{% url "issues:write-remark" issue_id=issue.id issue_item_id=issue_item.id %}?reject"
                                        class="decline-issues-item"
                                        data-id="{{ issue_item.id }}"
                                    >
                                        Отклонить
                                    </a>
                                </li>
                            {% endif %}

                            {% if issue_item.displays_review_button %}
                                <li>
                                    <a
                                        href="{% url "issues:write-remark" issue_id=issue.id issue_item_id=issue_item.id %}"
                                        class="review-issues-item"
                                    >
                                        Написать комментарий
                                    </a>
                                </li>
                            {% endif %}
                        </ul>

                        {% if issue_item.remark_set.count > 0 %}
                            <br>
                            <h5>Комментарии</h5>
                            <hr>
                            {% include "issues/single/remarks.html" with remarks=issue_item.remark_set.all %}
                        {% endif %}
                    </div>
                {% endfor %}

{#                {% for issue_item in issue_items %}#}
{#                    <div class="issue-item{{ issue_item.css_class }}">#}
{#                        <h2>#}
{#                            {{ issue_item.name }} {% if issue_item.is_approved %}<i class="fa fa-check approved-icon"></i>{% endif %}#}
{##}
{#                        {% for label in issue_item.labels.all %}#}
{#                            <span class="label" style="background: {{ label.hex_color }}; margin-left: 10px">#}
{#                                {{ label.code }}#}
{#                            </span>#}
{#                        {% endfor %}#}
{#                        </h2>#}
{##}
{#                        <div>{{ issue_item.content|linebreaksbr }}</div>#}
{##}
{#                        {% if issue_item.users.count > 0 %}#}
{#                            <h5>Совместно с</h5>#}
{#                            <ul style="padding-left: 30px">#}
{#                                {% if user != issue.owner %}#}
{#                                    <li><a href="{{ user.permalink }}">{{ user }}</a></li>#}
{#                                {% endif %}#}
{##}
{#                                {% for cooperator in issue_item.users.all %}#}
{#                                    {% if cooperator != issue.owner %}#}
{#                                        <li><a href="{{ cooperator.permalink }}">{{ cooperator }}</a></li>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                            </ul>#}
{#                        {% endif %}#}
{##}
{#                        {% if issue_item.remark_set.count > 0 %}#}
{#                            <h4>{% trans "Remarks" %}</h4>#}
{#                            {% include "issues/single/remarks.html" with remarks=issue_item.remark_set.all %}#}
{#                        {% endif %}#}
{##}
{#                        {% if displays_approve_button and issue_item.is_finished %}#}
{#                            <a class="btn btn-sm btn-primary approve-issues-item" data-id="{{ issue_item.id }}">#}
{#                                Одобрить пункт#}
{#                            </a>#}
{#                        {% endif %}#}
{##}
{#                        {% if displays_confirm_button and issue_item.is_finished %}#}
{#                            <a class="btn btn-sm btn-primary confirm-issues-item" data-id="{{ issue_item.id }}">#}
{#                                Утвердить пункт#}
{#                            </a>#}
{#                        {% endif %}#}
{##}
{#                        {% if displays_start_button and issue_item.is_open %}#}
{#                            <a class="btn btn-sm btn-primary start-issues-item" data-id="{{ issue_item.id }}">#}
{#                                Начать работу над пунктом#}
{#                            </a>#}
{#                        {% endif %}#}
{##}
{#                        {% if displays_finish_button and issue_item.is_in_progress %}#}
{#                            <a class="btn btn-sm btn-primary finish-issues-item" data-id="{{ issue_item.id }}">#}
{#                                Завершить работу над пунктом#}
{#                            </a>#}
{#                        {% endif %}#}
{##}
{#                        {% if displays_reject_button and issue_item.is_finihsed %}#}
{#                            <a href="{% url "issues:write-remark" issue_id=issue.id issue_item_id=issue_item.id %}?reject"#}
{#                               class="btn btn-sm btn-primary decline-issues-item" data-id="{{ issue_item.id }}"#}
{#                            >#}
{#                                Отклонить#}
{#                            </a>#}
{#                        {% endif %}#}
{##}
{#                        {% if issue_item.displays_review_button and issue_item.is_in_progress %}#}
{#                            <a href="{% url "issues:write-remark" issue_id=issue.id issue_item_id=issue_item.id %}"#}
{#                               class="btn btn-sm btn-primary review-issues-item"#}
{#                            >#}
{#                                Написать комментарий#}
{#                            </a>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                {% endfor %}#}

            </div>
{#            <div class="col-md-3 col-sm-3 col-xs-12">#}
{#                <section class="panel">#}
{#                    <div class="x_title">#}
{#                        <h2>{% trans "Details" %}</h2>#}
{#                        <div class="clearfix"></div>#}
{#                    </div>#}
{#                    <div class="panel-body">#}
{#                        <div class="project_detail">#}
{#                            <p class="title">{% trans "Author" %}</p>#}
{#                            <p>{{ issue.owner.get_full_name }}</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </section>#}
{#            </div>#}
        </div>
    </div>
{% endblock %}
