{% if archive %}
    {% for breadcrumb in parent_folder.archive_breadcrumbs %}
        {% if not forloop.last %}
            <a href="{{ breadcrumb.permalink }}">{{ breadcrumb.name }}</a> /
        {% else %}
            {{ breadcrumb.name }}
        {% endif %}
    {% endfor %}
{% else %}
    {% for breadcrumb in parent_folder.breadcrumbs %}
        {% if not forloop.last %}
            <a href="{{ breadcrumb.permalink }}">{{ breadcrumb.name }}</a> /
        {% else %}
            {{ breadcrumb.name }}
        {% endif %}
    {% endfor %}
{% endif %}
