{% extends "base.html" %}
{% load staticfiles %}
{% load states %}
{% load permissions %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "vendors/jQuery-contextMenu/dist/jquery.contextMenu.min.css" %}">
    <link rel="stylesheet" href="{% static "styles/loading.css" %}">
    <link rel="stylesheet" href="{% static "styles/dialogs.sass" %}" type="text/x-sass">
    <link rel="stylesheet" href="{% static "styles/documents_browser.sass" %}" type="text/x-sass">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vendors/jQuery-contextMenu/dist/jquery.contextMenu.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'vendors/js-cookie/src/js.cookie.js' %}" charset="utf-8"></script>
    <script src="{% static 'vendors/jquery-json/dist/jquery.json.min.js' %}" charset="utf-8"></script>

    <script src="{% static 'js/forms/helpers.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/dialogs.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/documents_browser/main.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/documents_browser/handle_select.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/documents_browser/select_region.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/documents_browser/drag_and_drop.js' %}" charset="utf-8"></script>
{% endblock %}

{% block dialogs %}
    {% include "dialogs/progress_dialog.html" %}
    {% include "dialogs/yes_no_dialog.html" %}
    {% include "dialogs/errors_dialog.html" %}
{% endblock %}

{% block content %}
    <div id="select-region"></div>
    <div id="drag-region"></div>

    {% if parent_folder_url != "" %}
        <a href="{{ parent_folder_url }}" class="go-back">
            <i class="fa fa-long-arrow-up"></i>
            Go to parent folder
        </a>
    {% endif %}
    <h3>Documents: <small>{% include "documents_browser/folder_breadcrumbs.html" %}</small></h3>

    {% if parent_folder.folders.all.count == 0 and parent_folder.documents.all.count == 0 %}
        Folder is empty
    {% else %}
        <table class="table documents-browser-table">
            <thead>
            <tr>
                <th width="20"></th>
                <th class="sorting {{ sorting_name_css_classes }}" data-sort-field="name">Name</th>
                <th width="100" class="sorting {{ sorting_status_css_classes }}" data-sort-field="status">Status</th>
                <th width="180" class="sorting {{ sorting_datetime_css_classes }}" data-sort-field="datetime">Datetime</th>
            </tr>
            </thead>

            <tbody>
            {# Folders #}
            <tr>
            </tr>
            {% for folder in folders %}
                {% folder_has_permission folder "folders_can_read" as has_perm %}
                {% if has_perm %}
                    <tr class="selectable context-menu folder{% folder_extra_classes folder %}" data-id="{{ folder.id }}" data-group="folders">
                        <td class="data-double-click-link" data-href="{{ folder.permalink }}">
                            <i class="fa fa-folder"></i>
                        </td>
                        <td class="data-double-click-link" data-href="{{ folder.permalink }}">
                            {{ folder }}
                        </td>
                        <td></td>
                        <td>{{ folder.documents.last.data.datetime }}</td>
                    </tr>
                {% endif %}
            {% endfor %}

            {# Documents #}
            {% for document in documents %}
                {% document_has_permission document "documents_can_read" as has_perm %}
                {% if has_perm %}
                    <tr class="selectable context-menu document{% document_extra_classes document %}" data-id="{{ document.id }}" data-group="documents">
                        <td class="data-double-click-link" data-href="{{ document.permalink }}">
                            <i class="fa {{ document.data.icon }}"></i>
                        </td>
                        <td class="data-double-click-link" data-href="{{ document.permalink }}">
                            {{ document }}
                        </td>
                        <td>{{ document.status }}</td>
                        <td>{{ document.data.datetime }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
            </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock %}
