{% extends "base.html" %}
{% load staticfiles %}
{% load states %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "vendors/jQuery-contextMenu/dist/jquery.contextMenu.min.css" %}">
    <link rel="stylesheet" href="{% static "styles/loading.css" %}">
    <link rel="stylesheet" href="{% static "styles/dialogs.sass" %}" type="text/x-sass">
    <link rel="stylesheet" href="{% static "styles/documents_browser.sass" %}" type="text/x-sass">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vendors/jQuery-contextMenu/dist/jquery.contextMenu.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'vendors/js-cookie/src/js.cookie.js' %}" charset="utf-8"></script>
    <script src="{% static 'vendors/jquery-json/dist/jquery.json.min.js' %}" charset="utf-8"></script>

    <script src="{% static 'js/forms/helpers.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/dialogs.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/documents_browser/main.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/documents_browser/select_region.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/documents_browser/drag_and_drop.js' %}" charset="utf-8"></script>
{% endblock %}

{% block dialogs %}
    {% include "dialogs/progress_dialog.html" %}
    {% include "dialogs/yes_no_dialog.html" %}
    {% include "dialogs/errors_dialog.html" %}
{% endblock %}

{% block content %}
    <div id="select-region"></div>
    <div id="drag-region"></div>

    <h3>Documents: <small>{% include "documents_browser/breadcrumbs.html" %}</small></h3>

    {% if parent_folder.folders.all.count == 0 and parent_folder.documents.all.count == 0 %}
        Folder is empty
    {% else %}
        <table class="table documents-browser-table">
            <thead>
            <tr>
                <th width="20"></th>
                <th class="sorting asc">Name</th>
                <th width="180" class="sorting">Datetime</th>
                <th width="100">Status</th>
                <th width="100">Action</th>
            </tr>
            </thead>

            <tbody>
            {# Folders #}
            <tr>
            </tr>
            {% for folder in parent_folder.folders.all %}
                <tr class="selectable context-menu folder{% folder_extra_classes folder %}" data-folder-id="{{ folder.id }}">
                    <td class="data-double-click-link" data-href="{{ folder.permalink }}">
                        <i class="fa fa-folder"></i>
                    </td>
                    <td class="data-double-click-link" data-href="{{ folder.permalink }}">
                        {{ folder }}
                    </td>
                    <td>{{ folder.documents.last.data.datetime }}</td>
                    <td></td>
                    <td class="actions">
                        <a href="#" class="fa fa-trash-o remove"></a>
                        <a href="#" class="fa fa-pencil edit"></a>
                    </td>
                </tr>
            {% endfor %}

            {# Documents #}
            {% for document in parent_folder.documents.all %}
                <tr class="selectable context-menu document" data-document-id="{{ document.id }}">
                    <td class="data-link" data-href="#">
                        <i class="fa {{ document.data.icon }}"></i>
                    </td>
                    <td class="data-link" data-href="#">
                        {{ document }}
                    </td>
                    <td>{{ document.data.datetime }}</td>
                    <td>{{ document.status }}</td>
                    <td class="actions">
                        <a href="#" class="fa fa-trash-o remove"></a>
                        <a href="#" class="fa fa-pencil edit"></a>
                        <a href="#" class="fa fa-pencil edit"></a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
            </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock %}
