{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "styles/loading.css" %}">
    <link rel="stylesheet" href="{% static "styles/dialogs.sass" %}" type="text/x-sass">
    <link rel="stylesheet" href="{% static "styles/document_single.sass" %}" type="text/x-sass">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vendors/jQuery-contextMenu/dist/jquery.contextMenu.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'vendors/js-cookie/src/js.cookie.js' %}" charset="utf-8"></script>
    <script src="{% static 'vendors/jquery-json/dist/jquery.json.min.js' %}" charset="utf-8"></script>

    <script src="{% static 'js/forms/helpers.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/dialogs.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/documents_browser/single.js' %}" charset="utf-8"></script>
{% endblock %}

{% block dialogs %}
    {% include "dialogs/progress_dialog.html" %}
    {% include "dialogs/yes_no_dialog.html" %}
    {% include "dialogs/errors_dialog.html" %}
    {% include "dialogs/success_dialog.html" %}
{% endblock %}

{% block content %}
    <a href="{{ up_action_url }}" class="go-back">
        <i class="fa fa-long-arrow-up"></i>
        Go to parent folder
    </a>

    <h3>Document detail:
        <small>{% include "documents_browser/document_breadcrumbs.html" %}</small>
    </h3>

    <div class="x_panel">
        <div class="x_title">
            <h2>{{ document.name }}</h2>
            {% if user_is_follow %}
                <a href="#" id="toggle-follow" title="Do not follow">
                    <i class="fa fa-eye-slash"></i>
                </a>
            {% else %}
                <a href="#" id="toggle-follow" title="Follow">
                    <i class="fa fa-eye"></i>
                </a>
            {% endif %}
            <div class="clearfix"></div>
        </div>
        <div class="document-content xcontent">
            <div class="col-md-9 col-sm-9 col-xs-12">
                {% if document.is_under_edition and remarks.count > 0 %}
                    <h4>Remarks</h4>
                    <ul class="messages">
                        {% for remark in remarks %}
                            <li class="remark-li">
                                {% thumbnail remark.user.avatar_image "50x50" crop="center" as im %}
                                    <img src="{{ im.url }}" class="avatar">
                                {% empty %}
                                    <img src="{% static "images/noavatar.png" %}" class="avatar">
                                {% endthumbnail %}
                                <div class="message_wrapper">
                                    <h4 class="heading">
                                        <a href="{{ remark.user.permalink }}">
                                            {{ remark.user }}
                                            <span class="email">({{ remark.user.email }})</span>
                                        </a>

                                        <span class="datetime">{{ remark.datetime }}</span>
                                    </h4>

                                    <blockquote class="message remark{{ remark.css_class }}">
                                        {{ remark.text }}
                                    </blockquote>

                                    {% if not remark.is_accepted %}
                                        {% if user_is_editor %}
                                            <ul class="editor-tools">
                                                {% if not remark.is_finished %}
                                                    <li>
                                                        <a href="#" class="mark-as-finished" data-remark-id="{{ remark.pk }}">
                                                            Mark as finished <i class="fa fa-check"></i>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        {% else %}
                                            {% if not remark.is_active %}
                                                <ul class="reviewer-tools">
                                                    <li>
                                                        <a href="#" class="accept-remark" data-remark-id="{{ remark.pk }}">
                                                            Accept <i class="fa fa-check"></i>
                                                        </a>
                                                    </li>

                                                    {% if not remark.is_rejected %}
                                                        <li>
                                                            <a href="!action:write-remark/?reject_remark_id={{ remark.pk }}"
                                                               class="reject-remark"
                                                            >
                                                                Reject <i class="fa fa-times"></i>
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                    <br>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <h4>Activity</h4>
                <ul class="messages">
                    {% for activity in activities %}
                        <li>
                            {% thumbnail activity.user.avatar_image "50x50" crop="center" as im %}
                                <img src="{{ im.url }}" class="avatar">
                            {% empty %}
                                <img src="{% static "images/noavatar.png" %}" class="avatar">
                            {% endthumbnail %}

                            <div class="message_wrapper">
                                <h4 class="heading">
                                    <a href="{{ activity.user.permalink }}">
                                        {{ activity.user }}
                                        <span class="email">({{ activity.user.email }})</span>
                                    </a>

                                    <span class="datetime">{{ activity.datetime }}</span>
                                </h4>

                                {% if activity.document_edit_meta is None %}
                                    <blockquote class="message activity">
                                        {{ activity.details }}
                                    </blockquote>
                                {% else %}
                                    <blockquote class="message activity{{ activity.document_edit_meta.css_class }}">
                                        {{ activity.details }}
                                    </blockquote>
                                {% endif %}

                                {% if activity.document_data is not None and activity.document_data.id != document.data.id %}
                                    <ul class="reviewer-tools">
                                        <li>
                                            <a href="" class="revert-document" data-activity-id="{{ activity.pk }}">
                                                Revert <i class="fa fa-undo"></i>
                                            </a>
                                        </li>
                                    </ul>
                                {% endif %}
                                <br>

                                {% if activity.document_data is not None %}
                                    <p class="url">
                                        <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                        Document version:
                                        <a href="{{ activity.document_data.permalink }}">
                                            <i class="fa fa-paperclip"></i>
{#                                            <i class="fa {{ activity.document_data.icon }}"></i>#}
                                            {{ activity.document_data.filename }}
                                        </a>
                                    </p>
                                {% endif %}

                                {% if activity.document_edit_meta.closed_by is not None and activity.document_edit_meta.is_accepted %}
                                    <div class="accepted_by">
                                        Accepted by: {{ activity.document_edit_meta.closed_by }}
                                    </div>
                                {% elif activity.document_edit_meta.closed_by is not None and activity.document_edit_meta.is_rejected %}
                                    <div class="accepted_by">
                                        Rejected by: {{ activity.document_edit_meta.closed_by }}
                                    </div>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <section class="panel">
                    <div class="x_title">
                        <h2>Description</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        {% if document.is_under_edition %}
                            <div class="project_detail">
                                <p class="title">Editor</p>
                                <p>
                                    <a href="{{ document.current_edit_meta.editor.permalink }}">
                                        <i class="fa fa-user"></i>
                                        {{ document.current_edit_meta.editor }}
                                        ({{ document.current_edit_meta.editor.email }})
                                    </a>
                                </p>
                            </div>

                            <div class="project_detail">
                                <p class="title">Start edition datetime</p>
                                <p><i class="fa fa-clock-o"></i> {{ document.current_edit_meta.start_datetime }}</p>
                            </div>
                        {% endif %}

                        <div class="project_detail">
                            <p class="title">Status</p>
                            <p>{{ document.status }}</p>
                        </div>

                        <div class="project_detail">
                            <p class="title">Last version</p>
                            <p>
                                <a href="{{ document.last_version_file_permalink }}" target="_blank">
                                    <i class="fa {{ document.data.icon }}"></i>
                                    {{ document.data.filename }}
                                </a>
                            </p>
                            <p class="title">Raw link (debug)</p>
                            <p>
                                <a href="{{ document.data.file.url }}" target="_blank">
                                    <i class="fa {{ document.data.icon }}"></i>
                                    {{ document.data.filename }}
                                </a>
                            </p>
                        </div>
                        <br>

                        <div class="text-center mtop20">
                            {% if user_is_editor %}
                                <a href="{{ document.upload_new_version_permalink }}" class="btn btn-sm btn-primary" id="upload-new-version">Upload new version</a>
                                <a href="!action:rename/" class="btn btn-sm btn-primary" id="write-remark">Rename</a>
                            {% endif %}

                            {% if not document.is_under_edition %}
                                <a href="#" class="btn btn-sm btn-primary" id="take-for-revision">Take for revision</a>
                                <a href="!action:rename/" class="btn btn-sm btn-primary" id="write-remark">Rename</a>
                            {% endif %}

                            {% if not user_is_editor and document.is_under_edition %}
                                <a href="!action:write-remark/" class="btn btn-sm btn-primary" id="write-remark">Write remark</a>
                                <a href="#" class="btn btn-sm btn-success" id="accept-document">Accept</a>
                                <a href="#" class="btn btn-sm btn-danger" id="reject-document">Reject</a>
                            {% endif %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
