{% extends "module_list_filtered.html" %}
{% load i18n %}

{% block filter %}
    <h3>Is active</h3>
    <ul>
        <li class="active"><a href="?">All</a></li>
        <li><a href="?is_active__exact=1">Yes</a></li>
        <li><a href="?is_active__exact=0">No</a></li>
    </ul>

    <h3>Is staff</h3>
    <ul>
        <li class="active"><a href="?">All</a></li>
        <li><a href="?is_staff__exact=1">Yes</a></li>
        <li><a href="?is_staff__exact=0">No</a></li>
    </ul>
{% endblock %}

{% block table_header %}
    <th>Full name</th>
    <th>Email</th>
    <th>Active</th>
{% endblock %}

{% block table_detail %}
    <td>{{ item.get_full_name }}</td>
    <td>{{ item.email }}</td>
    <td><i class="fa fa-check-circle"></i></td>
{% endblock %}

{% block one_selected_tools %}
    <li class="one-selected-tools">
        <a href="">
            {% trans "View profile" %}
            <i class="fa fa-user"></i>
        </a>
    </li>

    {{ block.super }}
{% endblock %}
