{% extends "module_list.html" %}
{% load i18n %}
{% load permissions %}

{#{% block filter %}#}
{#    <h3>Is active</h3>#}
{#    <ul>#}
{#        <li class="active"><a href="?">All</a></li>#}
{#        <li><a href="?is_active__exact=1">Yes</a></li>#}
{#        <li><a href="?is_active__exact=0">No</a></li>#}
{#    </ul>#}
{##}
{#    <h3>Is staff</h3>#}
{#    <ul>#}
{#        <li class="active"><a href="?">All</a></li>#}
{#        <li><a href="?is_staff__exact=1">Yes</a></li>#}
{#        <li><a href="?is_staff__exact=0">No</a></li>#}
{#    </ul>#}
{#{% endblock %}#}

{% block table_header %}
    <th>Full name</th>
    <th>Email</th>
    <th>Active</th>
{% endblock %}

{% block table_detail %}
    <td>{{ item.get_full_name }}</td>
    <td>{{ item.email }}</td>
    <td><i class="fa fa-check-circle"></i></td>
{% endblock %}

{% block one_selected_tools %}
    {% user_has_permission "users_can_read_profile" as users_can_read_profile %}
    {% if users_can_read_profile %}
        <li class="one-selected-tools">
            <a href="">
                {% trans "View profile" %}
                <i class="fa fa-user"></i>
            </a>
        </li>
    {% endif %}

    {{ block.super }}
{% endblock %}

{% block edit_tool %}
    {% user_has_permission "users_can_edit" as users_can_edit %}
    {% if users_can_edit %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block create_tool %}
    {% user_has_permission "users_can_create" as users_can_create %}
    {% if users_can_create %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block delete_tool %}
    {% user_has_permission "users_can_delete" as users_can_delete %}
    {% if users_can_delete %}
        {{ block.super }}
    {% endif %}
{% endblock %}
