{% extends "forms/multi-form.html" %}

{% load i18n %}

{% block form_content %}
    <div class="block">
        <div class="header">
            {% trans "Issue" %}
        </div>

        <div class="form-wrapper">
            {% for field, field_meta in main_data_form %}
                {% if not field_meta.hidden %}
                    <div class="form-group">
                        <label for="id_{{ field_meta.name }}"
                               class="control-label col-md-3 col-sm-3 col-xs-12{% if field_meta.help_text != "" %} with-help-text{% endif %}"
                        >
                            {% if field_meta.required %}
                                <span style="color: #a00">*</span>{% endif %}

                            {{ field_meta.label }}
                            {% if field_meta.help_text != "" %}
                                <div class="help-text">{{ field_meta.help_text }}</div>
                            {% endif %}
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            {{ field }}
                        </div>
                    </div>
                {% else %}
                    <div style="display: none">{{ field }}</div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {{ block.super }}
{% endblock %}
