{% load humanize %}

<ul class="issues">
    {% for issue in issues %}
        <li>
            <div class="owner selectable data-double-click-link issues-items-header"
                 data-id="{{ issue.id }}"
                 data-ref="{{ issue.issues.first.ref }}" data-group="{{ module_name }}s"
                 data-href="{{ issue.issues.first.permalink }}"
            >
                Планы для пользователя {{ issue.owner }}
            </div>
            {% if issue.issues.count > 0 %}
                {% for item in issue.issues.all %}
                    <div class="issues-items-container selectable context-menu data-double-click-link{{ item.css_class }}"
                         data-id="{{ issue.id }}"
                         data-ref="{{ item.ref }}" data-group="{{ module_name }}s"
                         data-href="{{ item.permalink }}"
                    >
                        <span class="name">{{ item }}</span>

                        {% for label in item.labels %}
                            <span class="label" style="background: {{ label.hex_color }}">
                                {{ label.code }}
                            </span>
                        {% endfor %}

                        <span class="fullness-block">
                            <span
                                class="finished fullness">Закончено: {{ item.fullness_percents.finished|floatformat:1|intcomma }}%</span>
                            <span
                                class="approved fullness">Одобрено: {{ item.fullness_percents.approved|floatformat:1|intcomma }}%</span>
                            <span
                                class="confirmed fullness">Утверждено: {{ item.fullness_percents.confirmed|floatformat:1|intcomma }}%</span>
                        </span>

                        <h4>Пункты ({{ item.issue_item|length }}):</h4>
                        <div>
                            <ul class="issue_items">
                                {% for issue_item in item.issue_item %}
                                    <li>
                                        <span class="title">{{ issue_item.name }}</span>
                                        <span class="status">
                                            Статус: {{ issue_item.status_name }}
                                            {% if issue_item.is_paused %}
                                                (Приостановлен)
                                            {% endif %}
                                        </span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="no-active-issues">
                    <span class="name">Нет активных планов</span>
                </div>
            {% endif %}
            <hr>
            {% if issue.children %}
                {% include "issues/items.html" with issues=issue.children depth=depth|add:1 %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
