{% extends "module_list_filtered.html" %}

{% load i18n %}
{% load permissions %}
{% load staticfiles %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/issues.js" %}" charset="utf-8"></script>
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "styles/issues.sass" %}" type="text/x-sass">
{% endblock %}

{% block filter %}
    <h3>{% trans "Labels" %}</h3>
    <ul>
        <li {% if active_label is None %}class="active"{% endif %}><a href="?">All</a></li>

        {% for label in labels %}
            <li {% if active_label.pk == label.pk %}class="active"{% endif %}><a href="?label={{ label.pk }}">{{ label }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block items_content %}
    {% include "issues/items.html" with issues=issues depth=1 %}
{% endblock %}
