.fa-drag-handle:before
    content: "\f142 \f142"
    letter-spacing: 0.1em
    cursor: move

.documents-browser-table
    tbody
        cursor: default
        tr:hover
            background: #f0f0f0

        tr.selected
            background: #1ABB9C
            color: #fff
            
            .edit, .remove
                color: #fff

        //.data-link
        //    cursor: pointer

        .edit
            color: #b96e00
            margin: 0 5px

        .remove
            color: #b90d00
            margin: 0 5px
