@import "consts"

#block-template
    display: none

.multi-form
    .help-text
        font-weight: normal
        opacity: 0.6

    .block
        background: #fff

        .header
            background: $green
            //background: #e7e7e7
            padding: 5px 10px
            font-size: 16px
            color: #fff

            .fa-caret-down, .fa-caret-left
                margin-top: 4px
                display: block
                float: right

            a.fa
                margin-top: 4px
                display: block
                float: right
                cursor: pointer
                color: #fff


            //a.fa-trash-o
            //    color: indianred

        &.collapsed
            .header
                background: #e7e7e7
                color: #73879C

        &.active
            .header
                background: $green
                color: #fff

            a.fa
                color: #fff

    .form-wrapper
        padding-top: 10px
        padding-bottom: 15px

    //.form-group
    //    margin-bottom: 0

    .add-block-button
        display: block
        float: right
        border: none
        background: #ddd
        padding: 5px 10px

    .submit-button
        display: block
        float: right
        border: none
        background: #ddd
        padding: 5px 10px
        margin-right: 0
        background: $green
        color: #fff

.form-error
    height: 15px
    color: #f00
    font-size: 10px

.form-group.error
    input
        border-color: #f00 !important

.form-horizontal .control-label
    padding-top: 23px

    &.with-help-text
        padding-top: 14px
