{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "styles/search.sass" %}" type="text/x-sass">
{% endblock %}

{% block content %}
    <a href="{{ up_action_url }}" class="go-back">
        <i class="fa fa-long-arrow-left"></i>
        Go back
    </a>
    <h3>Search results for: <small>{{ query }}</small></h3>

    {% if query %}
        {% for result in results %}
            <div class="search-item-row">
                {% if result.content_type == "documents.folder" %}
                    {% include "search/results/folder.html" %}
                {% endif %}

                {% if result.content_type == "documents.document" %}
                    {% include "search/results/document.html" %}
                {% endif %}
            </div>
        {% empty %}
            No results found.
        {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
    {% else %}
        No results found.
    {% endif %}
{% endblock %}
