{% load staticfiles %}
{% load compress %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ project_title }} - {% block page_title %}{{ page_title }}{% endblock %}{% endblock %}</title>

    {% compress css %}
        {% block styles %}
            <link rel="stylesheet" href="{% static "vendors/bootstrap/dist/css/bootstrap.min.css" %}">
            <link rel="stylesheet" href="{% static "vendors/font-awesome/css/font-awesome.min.css" %}">

            <link rel="stylesheet" href="{% static "styles/gentelella.scss" %}" type="text/x-scss">
            <link rel="stylesheet" href="{% static "styles/main.sass" %}" type="text/x-sass">
        {% endblock %}
    {% endcompress %}
</head>

<body class="nav-sm">
<div id="langauge_code" data-code="{{ language_code }}"></div>
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 menu_fixed left_col">
            {% include "side_menu.html" %}
        </div>

        <div class="top_nav">
            {% include "top_menu.html" %}
        </div>

        <div class="right_col" role="main">
            {% block content %}
            {% endblock %}
        </div>

        {% include "footer.html" %}
    </div>
</div>

{% block dialogs %}
{% endblock %}

{% block js %}
    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'vendors/js-cookie/src/js.cookie.js' %}" charset="utf-8"></script>

    <script src="{% static 'js/strings.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/main.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/search.js' %}" charset="utf-8"></script>
{% endblock %}
</body>
</html>
