{% extends "base.html" %}
{% load staticfiles %}
{% load states %}
{% load i18n %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "styles/loading.css" %}">
    <link rel="stylesheet" href="{% static "styles/dialogs.sass" %}" type="text/x-sass">
    <link rel="stylesheet" href="{% static "styles/module_list.sass" %}" type="text/x-sass">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vendors/jQuery-contextMenu/dist/jquery.contextMenu.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'vendors/js-cookie/src/js.cookie.js' %}" charset="utf-8"></script>
    <script src="{% static 'vendors/jquery-json/dist/jquery.json.min.js' %}" charset="utf-8"></script>

    <script src="{% static 'js/forms/helpers.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/dialogs.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/module_list.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/documents_browser/handle_select.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/documents_browser/select_region.js' %}" charset="utf-8"></script>
{% endblock %}

{% block dialogs %}
    {% include "dialogs/progress_dialog.html" %}
    {% include "dialogs/yes_no_dialog.html" %}
    {% include "dialogs/errors_dialog.html" %}
{% endblock %}

{% block content %}
    <div id="select-region"></div>
    <h3>{{ title }}</h3>

    <ul class="object-tools">
        {% block one_selected_tools %}
            {% block edit_tool %}
                <li class="one-selected-tools" id="edit-tool">
                    <a href="">
                        {{ edit_text }}
                        <i class="fa fa-pencil"></i>
                    </a>
                </li>
            {% endblock %}
        {% endblock %}

        {% block at_least_one_selected_tools %}
            {% block delete_tool %}
                <li class="at-least-one-selected-tools">
                    <a href="">
                        {{ delete_text }}
                        <i class="fa fa-times"></i>
                    </a>
                </li>
            {% endblock %}
        {% endblock %}

        {% block fix_tools %}
            {% block create_tool %}
                <li class="fix-tools">
                    <a href="!action:create/">
                        {{ add_text }}
                        <i class="fa fa-plus"></i>
                    </a>
                </li>
            {% endblock %}
        {% endblock %}
    </ul>

    <div class="module{% block module_classes %}{% endblock %}">
        {% block before_results %}
        {% endblock %}

        <div class="results">
            <table class="table">
                <thead>
                <tr>
                    {% block table_header %}
                        <th>{% trans "Name" %}</th>
                    {% endblock %}
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr class="selectable context-menu" data-id="{{ item.id }}" data-ref="{{ item.ref }}" data-group="{{ module_name }}s">
                        {% block table_detail %}
                            <td>
                                {{ item }}
                            </td>
                        {% endblock %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
