{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "styles/notifications.sass" %}" type="text/x-sass">
{% endblock %}

{% block content %}
    <h3>{% trans "Notifications" %}</h3>
    {% for notification in notifications %}
        <a href="{{ notification.permalink }}">
            <div class="notification {% if notification.is_read %}is-read{% endif %}">
                <div class="title">
                    {{ notification.title }}
                </div>
{#                {% if not notification.is_read %}#}
{#                    <div class="new-notification-badge"></div>#}
{#                {% endif %}#}
                <div class="clearfix"></div>
                <div class="content">{{ notification.text|linebreaksbr }}</div>
                {% if notification.detail != "" %}
                    <div class="details">
                        <b>{% trans "Details" %}:</b> {{ notification.detail|linebreaksbr }}
                    </div>
                {% endif %}
            </div>
        </a>
    {% empty %}
        {% trans "No new notifications" %}
    {% endfor %}
{% endblock %}
