{% load staticfiles %}

<div class="left_col scroll-view">
{#    <div class="navbar nav_title" style="border: 0;">#}
{#        <a href="#" class="site_title">#}
{#            <i class="fa fa-archive"></i> &nbsp;&nbsp;&nbsp;<span>Ripa Archive</span>#}
{#        </a>#}
{#    </div>#}

    <div class="clearfix"></div>
{##}
{#    <div class="profile clearfix">#}
{#        <div class="profile_pic">#}
{#            <img src="{% static "images/mock/img.jpg" %}" alt="..."#}
{#                 class="img-circle profile_img">#}
{#        </div>#}
{#        <div class="profile_info">#}
{#            <span>Welcome,</span>#}
{#            <h2>John Doe</h2>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <br>#}

    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
{#            <h3>General</h3>#}
            <ul class="nav side-menu">
                <li{% if active_url_name == "statistics" %} class="active"{% endif %}>
                    <a>
                        <i class="fa fa-bar-chart-o"></i> Statistics
                    </a>
                </li>

                <li{% if active_url_name == "documents" %} class="active"{% endif %}>
                    <a href="{% url "documents:index" %}">
                        <i class="fa fa-files-o"></i> Documents
                    </a>
                </li>

                <li{% if active_url_name == "users" %} class="active"{% endif %}>
                    <a href="{% url "accounts:index" %}">
                        <i class="fa fa-users"></i> Users
                    </a>
                </li>

                <li{% if active_url_name == "permissions" %} class="active"{% endif %}>
                    <a href="{% url "permissions:index" %}">
                        <i class="fa fa-key"></i> Permissions
                    </a>
                </li>

                <li{% if active_url_name == "activity" %} class="active"{% endif %}>
                    <a>
                        <i class="fa fa-history"></i> Activity
                    </a>
                </li>

                <li{% if active_url_name == "settings" %} class="active"{% endif %}>
                    <a>
                        <i class="fa fa-cogs"></i> Settings
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Logout" href="">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
    </div>
</div>
