{% load staticfiles %}

<div class="left_col scroll-view">
    <div class="clearfix"></div>

    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                <li{% if active_url_name == "statistics" %} class="active"{% endif %}>
                    <a href="{% url "statistics" %}">
                        <i class="fa fa-bar-chart-o"></i> Statistics
                    </a>
                </li>

                <li{% if active_url_name == "documents" %} class="active"{% endif %}>
                    <a href="{% url "documents:index" %}">
                        <i class="fa fa-files-o"></i> Documents
                    </a>
                </li>

                <li{% if active_url_name == "archive" %} class="active"{% endif %}>
                    <a href="{% url "documents:archive" %}">
                        <i class="fa fa-archive"></i> Archive
                    </a>
                </li>

                <li{% if active_url_name == "users" %} class="active"{% endif %}>
                    <a href="{% url "accounts:index" %}">
                        <i class="fa fa-users"></i> Users
                    </a>
                </li>

                <li{% if active_url_name == "permissions" %} class="active"{% endif %}>
                    <a href="{% url "permissions:index" %}">
                        <i class="fa fa-key"></i> Permissions
                    </a>
                </li>

                <li{% if active_url_name == "activity" %} class="active"{% endif %}>
                    <a href="{% url "activity" %}">
                        <i class="fa fa-history"></i> Activity
                    </a>
                </li>

                <li{% if active_url_name == "settings" %} class="active"{% endif %}>
                    <a>
                        <i class="fa fa-cogs"></i> Settings
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
