{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet"
          href="{% static "vendors/bootstrap-daterangepicker/daterangepicker.css" %}">

    <link rel="stylesheet" href="{% static "styles/dialogs.sass" %}" type="text/x-sass">
    <link rel="stylesheet" href="{% static "styles/loading.css" %}"
    <link rel="stylesheet" href="{% static "styles/daterangepicker.sass" %}" type="text/x-sass">
    <link rel="stylesheet" href="{% static "styles/activity.sass" %}" type="text/x-sass">
    <link rel="stylesheet" href="{% static "styles/statistics.sass" %}" type="text/x-sass">
{% endblock %}

{% block dialogs %}
    {% include "dialogs/progress_dialog.html" %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vendors/moment/min/moment.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"
            charset="utf-8"></script>

    <script src="{% static 'vendors/Flot/jquery.flot.js' %}" charset="utf-8"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.time.js' %}" charset="utf-8"></script>
    <script src="{% static 'vendors/flot-spline/js/jquery.flot.spline.min.js' %}"
            charset="utf-8"></script>

    <script src="{% static 'js/statistics.js' %}" charset="utf-8"></script>
{% endblock %}

{% block content %}
    <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> {% trans "Total Users" %}</span>
            <div class="count">{{ total_users }}</div>
            {#            <span class="count_bottom"><i class="green">4% </i> From last Week</span>#}
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> {% trans "Total Males" %}</span>
            <div class="count">{{ total_males }}</div>
            {#            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>#}
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> {% trans "Total Females" %}</span>
            <div class="count">{{ total_females }}</div>
            {#            <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>#}
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-file-o"></i> {% trans "Total Documents" %}</span>
            <div class="count">{{ total_documents }}</div>
            {#            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>#}
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-file-o"></i> {% trans "Total Finished documents" %}</span>
            <div class="count">{{ total_finished_documents }}</div>
            {#            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>#}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">
                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>{% trans "Activity" %}</h3>
                    </div>
                    <div class="col-md-6">
                        <div id="reportrange" class="pull-right"
                             style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span></span> <b class="caret"></b>
                        </div>
                    </div>
                </div>

                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div id="chart_plot_01" style="height: 280px">
                        <div class="accepted-points">
                            {% for point in accepted_points.items %}
                                <div class="point" data-date="{{ point.0 }}" data-value="{{ point.1 }}"></div>
                            {% endfor %}
                        </div>

                        <div class="rejected-points">
                            {% for point in rejected_points.items %}
                                <div class="point" data-date="{{ point.0 }}" data-value="{{ point.1 }}"></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
                    <div class="col-md-12 col-sm-12 col-xs-6">
                        <div>
                            <p>{% trans "Accepted documents" %}</p>
                            <div class="">
                                <div class="progress progress_sm" style="width: 76%;">
                                    <div class="progress-bar bg-green" role="progressbar" style="width: {{ accepted_documents_percent }}%"></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p>{% trans "Rejected documents" %}</p>
                            <div class="">
                                <div class="progress progress_sm" style="width: 76%;">
                                    <div class="progress-bar bg-green" role="progressbar" style="width: {{ rejected_documents_percent }}%; background: #f78f9b !important; border-color: #de5162 !important;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <br/>

    {# Hello #}
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="dashboard_graph">
                <div class="row x_title">
                    <div class="col-md-12">
                        <h3>{% trans "Recent Activity" %}</h3>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    {% include "activity_items.html" with users_activity=recent_activity show_empty_text=True show_activity_permalink=True %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="dashboard_graph">
                <div class="row x_title">
                    <div class="col-md-12">
                        <h3>{% trans "Last accepted documents" %}</h3>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    {% for document in last_edited_documents %}
                        <div class="last-edited-document">
                            <a href="{{ document.permalink }}" class="header">
                                <i class="fa {{ document.data.icon }}"></i> {{ document }}
                                <div class="datetime">
                                    {{ document.accepted_edit_meta.end_datetime }}
                                </div>
                            </a>
                            <div>
                                <b>{% trans "Editor" %}:</b>
                                <a href="{{ document.accepted_edit_meta.editor.permalink }}">
                                    {{ document.accepted_edit_meta.editor }}
                                </a>
                            </div>
                            <div>
                                <b>{% trans "Accepted by" %}:</b>
                                <a href="{{ document.accepted_edit_meta.closed_by.permalink }}">
                                    {{ document.accepted_edit_meta.closed_by }}
                                </a>
                            </div>
                        </div>
                    {% empty %}
                        {% trans "No accepted documents" %}
                    {% endfor %}
                </div>
                <div class="clearfix"></div>
            </div>

            <br>
            <div class="dashboard_graph">
                <div class="row x_title">
                    <div class="col-md-12">
                        <h3>{% trans "Last took on revision documents" %}</h3>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    {% for document in last_took_for_revision_documents %}
                        <div class="last-edited-document">
                            <a href="{{ document.permalink }}" class="header">
                                <i class="fa {{ document.data.icon }}"></i> {{ document }}
                                <div class="datetime">
                                    {{ document.current_edit_meta.start_datetime }}
                                </div>
                            </a>
                            <div>
                                <b>{% trans "Editor" %}:</b>
                                <a href="{{ document.current_edit_meta.editor.permalink }}">
                                    {{ document.current_edit_meta.editor }}
                                </a>
                            </div>
                        </div>
                    {% empty %}
                        {% trans "No took documents" %}
                    {% endfor %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <br/>
{% endblock %}
