{% load staticfiles %}


<div class="nav_menu">
    <nav>
{#        <div class="nav toggle">#}
{#            <a id="menu_toggle"><i class="fa fa-archive"></i></a>#}
{#        </div>#}
{#        <div class="title_left">#}
            <div class="form-group pull-left top_search">
                <div class="input-group">
{#                    <span class="input-group-btn">#}
{#                      <button class="btn btn-default" type="button">This folder</button>#}
{#                    </span>#}
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown" aria-expanded="false">This folder <span
                                class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a href="#">This folder</a></li>
                            <li><a href="#">Everywhere</a></li>
                        </ul>
                    </div>
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </div>
{#        </div>#}

        <ul class="nav navbar-nav navbar-right">
            <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle"
                   data-toggle="dropdown" aria-expanded="false">
                    <img src="{% static "images/mock/img.jpg" %}" alt="">John Doe
                    <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="#"> Profile</a></li>
                    <li>
                        <a href="#">
{#                            <span class="badge bg-red pull-x2">50%</span>#}
                            <span>Settings</span>
                        </a>
                    </li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#"><i class="fa fa-sign-out pull-right"></i> Log
                        Out</a></li>
                </ul>
            </li>

            <li role="presentation" class="dropdown">
                <a href="#" class="dropdown-toggle info-number"
                   data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-plus"></i>
                </a>

                <ul class="dropdown-menu list-unstyled" role="menu">
                    <li><a href="!action:create-folders/">Folders</a></li>
                    <li><a href="!action:create-documents/">Documents</a></li>
                </ul>
            </li>

            <li role="presentation">
                <a href="" class="info-number"
                   data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-bell"></i>
                    <span class="badge bg-green">6</span>
                </a>
            </li>

        </ul>
    </nav>
</div>
