{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <h3>Работа с документами</h3>
    <h4>Создание документа</h4>
    <p>Чтобы осздать документ нажмите правой кнопкой мыши по свободной области, выпадет контекстное меню как показано на рисунке и выберете пункт "Создать документ(ы)"</p>
    <p><img src="{% static "images/doc/i1.png" %}"></p>
    <p>Либо вы можете создать документ нажав на "+" в правом верхнем углу.</p>
    <p><img src="{% static "images/doc/i2.png" %}"></p>
    <p>Заполните открывшуюся форму и нажмите на кнопку "Создать".</p>

    <h4>Редактирование документа</h4>
    <p>Чтобы отредактировать документ выбирите документ, который вы хотите отредактировать, нажмите по нему правой кнопкой мыши, выпадет контекстное меню как показано на рисунку, выбирете необходимое действие.</p>
    <p><img src="{% static "images/doc/i3.png" %}"></p>

    <h5>Взять документ на доработку</h5>
    <p>Чтобы взять документ на доракботку необходимо перейти к конкретному документу, для этого выбирите необходимый вам документ и двойным шелчком перейдите внутрь документа.</p>
    <p>Внутри документа справа есть меню как показано на рисунке, выбирите "Взять на доработку".</p>
    <p><img src="{% static "images/doc/i4.png" %}"></p>

    <p>После этого вы станете редактором этого щдокумента и у вас появится возможность загрузить новую версию документа, в правом меню появится новый пункт "Загрузить новую версию", после того как вся работа над документом закончена, либо сделана какая-то определенная часть, вы можете обновить версию. Чтобы загрузить документ вам обязательно необходимо написать детали - какая именно была проделана работа над документом.</p>
    <p>После того, как вы загрузили документ, человеку, который следит за данным документом придет уведомление о том, что версия документа обновилась.</p>
    <p>Вы также можете откатить старую версию документа и сделать ее текущей, для этого, справа от версии документа нажмите на кнопку "Откатить", как показано на рисунке.</p>
    <p><img src="{% static "images/doc/i5.png" %}"></p>
    <p>После того, как документ проверят, могут написать замечания, следите за уведомлениями, вы можете просмотреть все уведомления в правом верхнем углу, как оказано на рисунке, маленький зеленый кружок обозначает, что у вас есть не прочитанные уведомления.</p>
    <p><img src="{% static "images/doc/i6.png" %}"></p>
    <p>После того, как замечание было исправлено, и новая версия документа была залита, отметьте замечание как "выполненное", для этого, на против замечания нажмите на кнопку "Отметить как выполненное", как показано на рисунке.</p>
    <p><img src="{% static "images/doc/i7.png" %}"></p>
    <p>Если документ полностью устраевает рецензента, то он может принять все ваши изменения, иначе наоброт откатить все к первоначальному варианту.</p>

    <h5>Обзор документа</h5>
    <p>Когда какой либо документ находится в процессе доработки вы можете писать замечания на обновления.</p>
    <p>Пример замечаний:</p>
    <p><img src="{% static "images/doc/i10.png" %}"></p>
    <p>Для того, чтобы написать замечание, внутри документа, с права в меню выбирите пункт "Написать замечание", как показано на рисунке.</p>
    <p><img src="{% static "images/doc/i8.png" %}"></p>
    <p>После этого в документе появится новое замечание, после того как редактор исправит все недоработки и отметит замечание как выполненное, напротив замечания появится новое меню, вы можете либо одобрить изменения, либо наоборот откланить, после чего редактор будет уведомлен о принятом вами решении.</p>
    <p><img src="{% static "images/doc/i9.png" %}"></p>
    <p>
        Если все изменения над документом вас устраивают, вы можете принять все изменения нажав на кнопку "Принять" в правом меню, после этого документу будет присвоен новый статус "Финальный".
        Вы также можете отклонить все изменения и вернуть все как было до редактирования, для этого просто нажмите на "Отклонить" в правом меню.
    </p>

    <h5>Произвольные права</h5>
    <p>Выбранному документу или папке можно назначить произвольные права для определнных пользователей или групп, для этого выбирите документ или папку и нажмите правой кнопкой мыши, после этого появится контекстное меню, выбирите пункт "Редактировать права".</p>

    <h3>Пользователи</h3>
    <h4>Профиль</h4>
    <h3>Привилегии</h3>
    <h3>Активность</h3>
{% endblock %}
