{% extends "base.html" %}
{% load staticfiles %}
{% load permissions %}

{% block content %}
    <h3>Работа с документами</h3>
    <h4>Создание документа</h4>
    <p>Чтобы создать документ нажмите правой кнопкой мыши по свободной области, выпадет контекстное меню как показано на рисунке и Выберите пункт "Создать документ(ы)"</p>
    <p><img src="{% static "images/doc/i1.png" %}"></p>
    <p>Либо вы можете создать документ нажав на "+" в правом верхнем углу.</p>
    <p><img src="{% static "images/doc/i2.png" %}"></p>
    <p>Заполните открывшуюся форму и нажмите на кнопку "Создать".</p>

    <h4>Редактирование документа</h4>
    <p>Чтобы отредактировать документ Выберите документ, который вы хотите отредактировать, нажмите по нему правой кнопкой мыши, выпадет контекстное меню как показано на рисунку, Выберите необходимое действие.</p>
    <p><img src="{% static "images/doc/i3.png" %}"></p>

    <h5>Взять документ на доработку</h5>
    <p>Чтобы взять документ на доработку необходимо перейти к конкретному документу, для этого Выберите необходимый вам документ и двойным щелчком перейдите внутрь документа.</p>
    <p>Внутри документа справа есть меню как показано на рисунке, Выберите "Взять на доработку".</p>
    <p><img src="{% static "images/doc/i4.png" %}"></p>

    <p>После этого вы станете редактором этого документа и у вас появится возможность загрузить новую версию документа, в правом меню появится новый пункт "Загрузить новую версию", после того как правка документа закончена, либо сделана какая-то определенная часть, вы можете обновить версию. Чтобы загрузить документ вам обязательно необходимо написать детали - какая именно была проделана работа над документом.</p>
    <p>После того, как вы загрузили документ, человеку, который следит за данным документом придет уведомление о том, что версия документа обновилась.</p>
    <p>Вы также можете откатить старую версию документа и сделать ее текущей, для этого, справа от версии документа нажмите на кнопку "Откатить", как показано на рисунке.</p>
    <p><img src="{% static "images/doc/i5.png" %}"></p>
    <p>После того, как документ пройдет проверку, к нему могут быть написаны замечания, следите за уведомлениями, вы можете просмотреть все уведомления в правом верхнем углу, как оказано на рисунке, маленький зеленый кружок обозначает, что у вас есть не прочитанные уведомления.</p>
    <p><img src="{% static "images/doc/i6.png" %}"></p>
    <p>После того, как работа над замечаниями проверяющего закончена, и новая версия документа была залита, отметьте замечание как "выполненное", для этого, на против замечания нажмите на кнопку "Отметить как выполненное", как показано на рисунке.</p>
    <p><img src="{% static "images/doc/i7.png" %}"></p>
    <p>Если документ полностью устраивает рецензента, то он может принять все ваши изменения, или наоборот откатить все к первоначальному варианту.</p>

    <h5>Обзор документа</h5>
    <p>Когда какой-либо документ находится в процессе доработки вы можете писать замечания на обновления.</p>
    <p>Пример замечаний:</p>
    <p><img src="{% static "images/doc/i10.png" %}"></p>
    <p>Для того, чтобы написать замечание, внутри документа, с права в меню выберите пункт "Написать замечание", как показано на рисунке.</p>
    <p><img src="{% static "images/doc/i8.png" %}"></p>
    <p>После этого в документе появится новое замечание, после того как редактор исправит все недоработки и отметит замечание как выполненное, напротив замечания появится новое меню, вы можете либо одобрить изменения, либо наоборот отклонить, после чего редактор будет уведомлен о принятом вами решении.</p>
    <p><img src="{% static "images/doc/i9.png" %}"></p>
    <p>Если все изменения над документом вас устраивают, вы можете принять все изменения нажав на кнопку "Принять" в правом меню, после этого документу будет присвоен новый статус "Финальный". Вы также можете отклонить все изменения и вернуть все как было до редактирования, для этого просто нажмите на "Отклонить" в правом меню.</p>

    <h5>Произвольные права</h5>
    <p>Выбранному документу или папке можно назначить произвольные права для определенных пользователей или групп, для этого выберите документ или папку и нажмите правой кнопкой мыши, после этого появится контекстное меню, выберите пункт "Редактировать права".</p>

    <h3>Пользователи</h3>
    <p>Вы можете создавать новых пользователей, либо редактировать уже существующие, для этого перейдите на страницу "Аккаунты" в левом меню. При выборе пользователя или пользователей сверху будут доступны различные опции, как показано на рисунке.</p>
    <p><img src="{% static "images/doc/i11.png" %}"></p>
    <p>К пример, чтобы создать нового пользователя - нажмите на опцию "Создать пользователя", заполните форму и нажмите кнопку "Создать", созданному пользователю придет email сообщение с паролем архив.</p>

    <h4>Профиль</h4>
    <p>Внцтри профиля вы можете посмотреть его персональные данные, активность и документы над которыми пользователь работал или работает в данный момент.</p>

    <h3>Привилегии</h3>
    <p>Вы можете создавать новые группы, либо редактировать уже существуюзие, для этого перейдите на страницу "Привилегии" в левом меню. При выборе группы или групп сверху будут доступны различные опции, как показано на рисунке.</p>
    <p><img src="{% static "images/doc/i12.png" %}"></p>
    <p>К пример, чтобы создать новую группу - нажмите на опцию "Создать группу", заполните форму и нажмите кнопку "Создать", после этого будет доступна новая группа со своим набором привилегий, которую вы можете назначить пользователям.</p>
    <p>Также вы можете наследовать все привилегии от уже существующей группы, длл этого выбирите группу в "Наследовать от", как показано на рисунке.</p>
    <p><img src="{% static "images/doc/i13.png" %}"></p>

    <h3>Активность</h3>
    <p>Дейсвия связанные с работой документами записывается, всю активность вы можете просмотреть на страницу "Активность".</p>

    <h3>Статистика</h3>
    <p>Вы можете просматривать статистику на странице "Статистика", перейти на нее можно из левого меню выбрав пункт "Статистика". Здесь вы можете посмотреть график подтвержденых и отклоненых документов, последнюю активность, последние принятые документы, последние взятые на доработку документы, а также различные цифры о том, сколько всего в системе документов, завершенных документов итд.</p>
{% endblock %}
